* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:link {
  color: inherit;
}
:hover {
  color: inherit;
}
:active {
  color: inherit;
}
:root {
  /* Variables */
  --font-header: null;
  --font-copy: null;
  --font-highlight: null;

  --search-width: 15rem;
  --search-bg-width: calc(var(--search-width) * 1.3);

  color: whitesmoke;
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
}
#navbar {
  text-align: center;
}
#navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1%;
  height: 100%;
  width: 100%;
}
#navbar a {
  display: block;
  height: auto;
  width: auto;

  color: black;

  margin: 0.5rem;
}
#navbar a:hover {
  text-decoration: underline;
}
#google-apps-icon {
  max-width: 1.3rem;
}
#user-profile {
  --radius: 1.5rem;

  display: inline-block;
  background-color: grey;
  border: 1px solid black;

  border-radius: 50%;

  width: var(--radius);
  max-width: var(--radius);
  height: var(--radius);
  max-height: var(--radius);
}
#main {
  display: flex;
  flex-direction: column;
}
#google-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10%;
  margin-bottom: 2%;
}
#google-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}
#search-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 40px;
  border: 1pt solid grey;
  width: var(--search-bg-width);
}
#search-icon {
  position: relative;
  right: 3%;
  z-index: 999;
  width: 1rem;
}
#search-bar {
  position: relative;
  z-index: 990;
  width: var(--search-width);
  height: 2rem;
  border: none;
}
#search-bar:focus {
  outline: none;
}
#voice-icon {
  position: relative;
  z-index: 999;
  left: 2%;
  width: 0.8rem;
}
#voice-icon:hover {
  cursor: pointer;
}
#buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  margin: 0.3rem;
  padding: 0.5rem 0.8rem;
  background-color: white;
  border: none;
}

.buttons:hover {
  box-sizing: border-box;
  background-color: rgba(218, 223, 225, 0.2);
  box-shadow: 0 0 5px 0 grey;
  cursor: pointer;
  border-radius: 3px;
}
